
.DS_Store
bin/**/**
obj/**/**
*.dll
.idea/**
.idea/.idea.SitefinityWebApp.dir/.idea/vcs.xml
obj/Debug/net6.0/apphost
obj/Debug/net6.0/ref/SitefinityWebApp.dll
*.cache
obj/Debug/net6.0/apphost
/obj/**
